/* Colors : 
grey -blue: rgb(48, 52, 80)
blue-dark : rgb(43, 49, 90);
yello button : rgb(226, 203, 51)
orange cell :  #ff9966

*/

:root {
    --background-color: #29293d;
    --text-color: whitesmoke;
    --cell-color: #ff9966;
    --CTA: rgb(226, 203, 51);
    --shadow:  #7e7571;
  }

@font-face {
    font-family: "Digi";
    src: url("fonts/ds-digib.ttf");
  }


body{
    background : var(--background-color);
    box-sizing: border-box;
    font-family: 'Montserrat';  
    display: block; 
    margin: 0%; 
    padding:0%; 
    color : var(--text-color);
    }


/* --------------------------------
  Header
  --------------------------------  */

header{
    padding : 5%; 
}

h1 {
    font-size: 5em; 
    text-align: center; 
    margin: 0%;
}

    /* --------------------------------
  Instructions
  --------------------------------  */

  #instructions{
    padding: 2%;
    display: flex;
    justify-content:flex-end;

  }

  #howto{
      border: none; 
      font-size: 2em; 
      color: rgb(226, 203, 51);
      background: var(--background-color);
  }

  /* --------------------------------
  Main
  --------------------------------  */
  main{
    height: 500px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
   /* grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    */
}


.row{
    display: flex;
    flex-flow: row nowrap; 
    justify-content: flex-start; 
    align-items: center;
}

/* for large screens only*/
.letter{
    /*text-transform: uppercase;*/
    color: white;
    text-transform: uppercase;
    font-size: 4.5em; 
    border: 1px solid var(--background-color); 
    background:  #ff9966;
    padding-left: 15px; 
    padding-right: 10px; 
    width:70px; 
    height: 120px; 
    opacity: 0.8;
}

.shadow{
    border: 1px solid var(--background-color); 
    background: var(--shadow);
    padding-left: 15px; 
    padding-right: 10px; 
    width:70px; 
    height: 120px; 
    color : var(--shadow);
    opacity: 0.2;
}

.invisible{
    border: 1px solid var(--background-color); 
    background: var(--background-color);
    padding-left: 15px; 
    padding-right: 10px; 
    width:70px; 
    height: 120px; 
    color : var(--background-color);
}


.arrow.up{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #7e7571 transparent;
}

.arrow.down{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #7e7571 transparent transparent transparent;
}

.arrow{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
}



  /* --------------------------------
  Footer
  --------------------------------  */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 5%;
}


/*
#clock {
border: 1px solid #000;
border-radius: 20px;
box-sizing: border-box;
height: 30%;
width: 20%;
}
*/


#sphere {
border: none; 
box-sizing: border-box;
/*font-family: "Digi";*/
font-size: 2.5em;
height: 50%;
margin: 0 auto;
padding: 2% 0;
position: relative;
text-align: center;
width: 50%px;
}



.number {
display: inline-block;
width: 40px;
}

.btn {
    border: none; 
    display : flex;
    font-size: 2.5em; 
    /*font-family: "Digi";*/
    background: var(--background-color);
}


.btn.start { color: var(--CTA) }
.btn.stop  { color: var(--cell-color)}